if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

if ! use flake . --impure --accept-flake-config
then
  echo "nix flake could not be built; update flake.nix and run direnv allow/reload" >&2
fi

printf "\nrun \`nix flake update --impure && nix flake check --impure\` to update the flake lockfile."
printf "\nuse \`direnv revoke\` to unload the dev environment or \`direnv allow\` to reload it.\n\n"

# not necessary if using nix flake
# devenv devshell with dotenv enabled
dotenv
