
dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.fai

dna-diffusion/metrics/chromatin_accessibility/deopen/data/test_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/test_beds/positive.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/train_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/train_beds/positive.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/validation_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/validation_beds/positive.bed

*.hkl

dna-diffusion/metrics/chromatin_accessibility/deopen/data/debug.py

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.flat

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.gdx

dna-diffusion/metrics/chromatin_accessibility/deopen/src/error/

dna-diffusion/metrics/gene_expression/enformer/meuleman_data/

dna-diffusion/metrics/gene_expression/enformer/data/abc_data

*.bed

dna-diffusion/metrics/gene_expression/enformer/hg38.fa

dna-diffusion/metrics/gene_expression/enformer/hg38.fa.fai

.idea/

dna-diffusion/.DS_Store

dna-diffusion/metrics/.DS_Store

dna-diffusion/metrics/gene_expression/.DS_Store

dna-diffusion/metrics/gene_expression/enformer/.DS_Store

.DS_Store

dna-diffusion/metrics/gene_expression/enformer/sequences/

dna-diffusion/metrics/gene_expression/enformer/enformer_lucidrains_pytorch/enformer_pytorch/__pycache__/

dna-diffusion/metrics/gene_expression/enformer/genomic_track_type_data.xlsx

dna-diffusion/metrics/gene_expression/enformer/__pycache__/

dna-diffusion/metrics/gene_expression/enformer/outputs/

meetings/29_12_2022/

dna-diffusion/metrics/gene_expression/enformer/data/selected_K562_hESCT0_HepG2_GM12878_12k_sequences_per_group.txt

dna-diffusion/metrics/gene_expression/enformer/data/archive/

dna-diffusion/metrics/gene_expression/enformer/data/chr1_dnase.bedGraph

dna-diffusion/metrics/gene_expression/enformer/data/chr1_dnase.bw

dna-diffusion/metrics/gene_expression/enformer/data/hg38.chrom.sizes

dna-diffusion/metrics/gene_expression/enformer/data/tracks.ini

dna-diffusion/metrics/gene_expression/enformer/exec/bedGraphToBigWig

dna-diffusion/metrics/gene_expression/enformer/exec/fetchChromSizes

*.pyc

meetings/21_01_2023/enformer implementation sketch updated.pdf

dna-diffusion/metrics/gene_expression/enformer/src/hg38.fa

dna-diffusion/metrics/gene_expression/enformer/src/hg38.fa.fai
