
dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.fai

dna-diffusion/metrics/chromatin_accessibility/deopen/data/test_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/test_beds/positive.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/train_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/train_beds/positive.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/validation_beds/negative.bed

dna-diffusion/metrics/chromatin_accessibility/deopen/data/validation_beds/positive.bed

*.hkl

dna-diffusion/metrics/chromatin_accessibility/deopen/data/debug.py

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.flat

dna-diffusion/metrics/chromatin_accessibility/deopen/data/hg38.fa.gdx
