---
name: Release
on:
  workflow_dispatch:
    inputs:
      release_enabled:
        description: Release the package to PyPI
        required: true
        type: boolean
        default: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Build package
        run: |
          uv build
      - name: Publish package on PyPI
        if: ${{ inputs.release_enabled }}
        run: uv publish dist/*
      - name: Publish the release notes
        if: ${{ inputs.release_enabled }}
        uses: release-drafter/release-drafter@v6.1
        with:
          publish: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
